<!doctype html>
<html>
    <head>
        <title>Local Climbing Area Weather</title>
    </head>
    <body>
        <h1>Local Climbing Area Weather</h1>
        <p>This is a list of seven day forecasts for climbing areas that are reasonably driveable for a day or weekend
            trip. Weather forecasts are pulled from the OpenWeatherMapAPI.</p>
        <p>{{content|safe}}</p>
    </body>
</html>
