.centerRound {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}

.centerText {
	text-align: center;
}

.paragraph {
	text-align: center;
	font-weight: normal;
	font-size: 14px;
}